{# 
/**
 * Softphone Flame Template
 *
 * @author rutoru
 * @package Runa-CCA
 */
#}
{% autoescape true %}
<!DOCTYPE html>
<html lang="ja-JP">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Runa-CCA Softphone</title>

    <!-- Bootstrap -->
    <link href="/runa-cca/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/runa-cca/vendor/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">

        $(document).ready(function(){

            {# ########## Replace Block ########## #}
            {% block twilio_setup %}{% endblock %}
            {# ########## Replace Block ########## #}
        
            var connection=null;
            var queues = [];

            {# ########## Replace Block ########## #}
            {% block queues %}{% endblock %}
            {# ########## Replace Block ########## #}

            $("#call").click(function() {  
                params = { "PhoneNumber" : $('#number').val()};
                connection = Twilio.Device.connect(params);
            });
            
            $("#hangup").click(function() {  
                Twilio.Device.disconnectAll();
            });

            $("#mute").click(function() {
                connection.mute();
            });

            $("#unmute").click(function() {
                connection.unmute();
            });

            Twilio.Device.ready(function (device) {
                $("#log").text("Twilioに接続しました。");
                $("#twilio_message").removeClass("alert-warning alert-danger alert-success alert-info").addClass("alert-success");
            });

            Twilio.Device.incoming(function (conn) {
                $("#log").text(conn.parameters.From + "からの電話です。");
                $("#twilio_message").removeClass("alert-warning alert-danger alert-success alert-info").addClass("alert-info");
                if (confirm('Accept incoming call from ' + conn.parameters.From + '?')){
                    connection=conn;
                    conn.accept();
                }
            });

            Twilio.Device.offline(function (device) {
                $("#log").text("オフライン: " + error.message);
                $("#twilio_message").removeClass("alert-warning alert-danger alert-success alert-info").addClass("alert-danger");
            });

            Twilio.Device.error(function (error) {
                $("#log").text("エラー: " + error.message);
                $("#twilio_message").removeClass("alert-warning alert-danger alert-success alert-info").addClass("alert-danger");
            });

            Twilio.Device.connect(function (conn) {
                $("#log").text("電話がつながりました。");
                $("#twilio_message").removeClass("alert-warning alert-danger alert-success alert-info").addClass("alert-success");
                toggleCallStatus();
            });

            Twilio.Device.disconnect(function (conn) {
                $("#log").text("電話が切断されました。");
                $("#twilio_message").removeClass("alert-warning alert-danger alert-success alert-info").addClass("alert-warning");
                toggleCallStatus();
            });

            function toggleCallStatus(){
                $('#call').toggle();
                $('#hangup').toggle();
                $('#number').toggle();
                $('#muteselect').toggle();
                $('#queuelist').toggle();
                $('#dialpadplate').toggle();
            }

            $.each(['0','1','2','3','4','5','6','7','8','9','star','pound'], function(index, value) { 
                $('#button' + value).click(function(){ 
                    if(connection) {
                        if (value=='star')
                            connection.sendDigits('*')
                        else if (value=='pound')
                            connection.sendDigits('#')
                        else
                            connection.sendDigits(value)
                        return false;
                    } 
                    });
            });
            
            $.each(queues, function(index, value) { 
                $('#queue_' + value).click(function(){ 
                    params = { "PhoneNumber" : $('#queue_' + value).text()};
                    connection = Twilio.Device.connect(params);
                });
            });


        });

    </script>
    
  </head>

    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/runa-cca/softphone">Runa-CCA Softphone</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="queuelist">Queue <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li class="dropdown-header">Select Queue</li>
                            {# ########## Replace Block ########## #}
                                {% block twilio_queues %}{% endblock %}
                            {# ########## Replace Block ########## #}
                        </ul>
                        </li>
                        <li><a href="#" id="call">Call</a></li>
                        <li><a href="#" id="hangup" style="display:none;">HangUp</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="muteselect" style="display:none;">Mute <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="mute">Mute</a></li>
                                <li><a href="#" id="unmute">UnMute</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dialpadplate" style="display:none;">DialPad <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                <div id="dialpad">
                                    <table>
                                    <tr>
                                    <td><input type="button" value="1" id="button1"></td>
                                    <td><input type="button" value="2" id="button2"></td>
                                    <td><input type="button" value="3" id="button3"></td>
                                    </tr>
                                    <tr>
                                    <td><input type="button" value="4" id="button4"></td>
                                    <td><input type="button" value="5" id="button5"></td>
                                    <td><input type="button" value="6" id="button6"></td>
                                    </tr>
                                    <tr>
                                    <td><input type="button" value="7" id="button7"></td>
                                    <td><input type="button" value="8" id="button8"></td>
                                    <td><input type="button" value="9" id="button9"></td>
                                    </tr>
                                    <tr>
                                    <td><input type="button" value="*" id="buttonstar"></td>
                                    <td><input type="button" value="0" id="button0"></td>
                                    <td><input type="button" value="#" id="buttonpound"></td>
                                    </tr>
                                    </table>
                                </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control col-lg-8" placeholder="Telephone Number" name="number" id="number">
                    </form>

                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right">
                          <li><a data-toggle="modal" href="#" onClick="window.close(); return false;">閉じる</a></li>
                        </ul>
                    </div>
                            
                </div>
            </div>
        </div>
      
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                {# ########## Replace Block ########## #}
                    {% block message %}{% endblock %}
                {# ########## Replace Block ########## #}
            </div>
        </div>

<!--
        <div class="row">
            <div class="col-md-12">
                 For Future Release
            </div>
        </div>
-->

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <p>Developed by <a href="https://twitter.com/rutoruz">rutoru</a>. Code released under the <a href="https://github.com/rutoru/Runa-CCA/blob/master/LICENSE">MIT License</a>.</p>
                </div>
            </div>
        </footer>

    </div>
                
               
  </body>

</html>
{% endautoescape %}