{# 
/**
 * Softphone Template
 *
 * @author rutoru
 * @package Runa-CCA
 */
#}
{% extends "Softphone/softphone_frame.twig" %}

{% block twilio_setup %}
    {% autoescape true %} 
        Twilio.Device.setup("{{twilio_token}}");
    {% endautoescape %}
{% endblock twilio_setup %}

{% block queues %}
    {% autoescape true %} 
        {% for queue in session.operator_queue %}
            queues.push("{{queue.queue_id}}");
        {% endfor %}
    {% endautoescape %}
{% endblock queues %}

{% block message %}
    {% autoescape true %}
        <div class="alert alert-dismissable alert-info" id="twilio_message">
        <p id="log">Twilioに接続中です。</p>
        </div>
    {% endautoescape %}
{% endblock message %}

{% block twilio_queues %}
    {% autoescape true %}
        {% for queue in session.operator_queue %}
            <li><a href="#" id="queue_{{queue.queue_id}}">{{queue.queue_id}}</a></li>
        {% endfor %}
    {% endautoescape %}
{% endblock twilio_queues %}
